body{   background-color:$primary-color;color:darken($primary-color-dark, 15%); }
header#masthead, nav {   background-color:$primary-color;color:$primary-color;  }
a   {   color:$link-color;  }
nav a   {   color:$primary-color-dark;  }
div.site-branding   {   color:$primary-color;
        a   {   @extend a; }
        a:visited   {   @extend a; }
    }
.main-navigation ul ul, button i  {   @extend body;   }

hr.footer-divider-top   {   background-color:$primary-color-dark;color:$primary-color-dark;    }

footer  {   background-color:$primary-color;    }
.fixedBar {
  background: $primary-color;
  color: $primary-color-dark;
}
ul li a    {    @extend a;   }
#s  {
    @include placeholder    {
        color:rgba(51, 51, 51, 0.1);
    }
}

.header-menu-container   {
 @media #{$retina-phone}    {
     background-color:$primary-color;
     .header-menu-dropdown   {
      li    {
          background-color: $primary-color;
      }
     }
 }
}
.comments-wrapper {
background: white;
}
.side-comment.has-comments.active   .comments-wrapper {
    @extend body;
}
.post-header:before   {  
    
}
.post-meta:before  {
    background-color: #5f6673;
}
body.single-post header.entry-header {      }
body.single .vcard a, body.single .posted-on a {   color:color('grey', 'darken-2');   }
body.single .vcard a:visited, body.single .posted-on a:visited  {   color:ccolor('grey', 'darken-4');  }
.single-featured-image h2 {
	color:white;
}
.single-featured-image h2 a {
	color:$primary-color-light;
}
.single-featured-image h2 a:visited {
	color:$primary-color-light;
}
.single-featured-image h2 a:hover {
	color:$primary-color-light;
}

.entry-meta {
    .header-meta    { color:color('grey', 'darken-3');
        
        a   { color:color('grey', 'darken-2');
            &:visited   {   color:color('grey', 'darken-4'); }
        }
    }
}
div.post-header {       
    border-bottom:1px solid $primary-color-dark;
    padding-bottom:$t-20px !important;
}

header.archive-header {       
    border-bottom:1px solid $primary-color-dark;
    line-height: $t-29px;
    font-size: $t-13px;
    height: $t-60px;
    margin-top: $t-30px;
}