/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

header#masthead, nav {   border-bottom:1px solid $primary-color-dark;   }
header#masthead {   position:fixed; top:0; margin:auto; z-index:100000; height:60px;    }
#masthead:after{
    content: ".";
    visibility: hidden;
    height: 0;
    clear:both;
    display: block;
}
body.single-post header#masthead {   position:inherit; margin:auto; height:60px; }

.header-menu-container   {
 @media #{$retina-phone}    {
     overflow:hidden;
     border: $primary-color-dark;
     margin-top:4.2em;
     margin-left:-257px;
     padding-right: 20px;
     .header-menu-dropdown   {
         border:1px solid darken( $primary-color-dark, 15% );
      li    {
          width:320px;
          border-bottom: 1px solid darken( $primary-color-dark, 15%);
      }
     }
 }
@media #{$retina-phone-landscape}   {
    margin-left:-321px;
    width:568px;
 .header-menu-dropdown   {
     
     li {  
         width:568px;
     }
}
}
}


div.site-branding   {   float:left;margin-left:1.0em;
    @media #{$retina-phone} {     }
    h1.site-title   {
        margin:1em 0;float:left;
        @media #{$retina-phone}  {
            margin-top:1.4em;
        }
        @media #{$phones} {
            margin-top:1.2rem;
        }
    }
}
nav.main-navigation {   
    @media #{$tablets}  {
     //width:60%;   
    }
    @media #{$desktop-and-tablet}   {
    //width:40%;   
    }
    @media #{$wide-screens} {
    //width:30%
    }
li  {   
    height:60px;
    }
    //position: absolute;
    //top: 0;
    //right: 20px;
    //width: 40%;
    height: 60px;
    box-shadow: none;
}
.main-navigation ul li:hover > ul {
  margin-top: 37px;
        }
.main-navigation ul ul  {
 box-shadow:none;
    border:1px solid $primary-color-dark;
}

div.container   {   margin-top:2.6em;    }
body.single div.container   {   margin-top:0;    }
hr.footer-divider-top   {   height:1px;    }
footer.site-footer  {   min-height:100px;padding-top:20px;   }
.form-submit {
    display: none;
}



.boxfloat {
  text-align: center;
  width: 90%;
  margin: auto;
  height: 100%;
}
.borderRight    {
 border-right: 1px solid $primary-color-dark;   
}
.borderLeft {
 border-left:1px solid $primary-color-dark;   
}



span.edit-link  {   float:right;
        padding:20px;
}
 










div.pp_pic_holder {
z-index: 120000 !important;
}

div.pp_overlay {
z-index: 110000 !important;
}

.comments-wrapper {
padding: 20px;
padding-bottom: 20px !important;
border: 1px solid grey;
border-radius: $radius;
}
.side-comment.has-comments.active   .comments-wrapper {
    padding: 20px;
    padding-bottom:20px;
}

.entry-content.inline-comments.side-comments-open {
margin-left: 220px;
}
body.single header  {   position:relative;
}
h1.entry-title  {
    margin:20px 0 0 10px;
    padding-bottom:10px;
}
/*body.single h1.entry-title  {   
    margin-top:$t-10px;
    vertical-align:middle;
    text-align: right;
}*/
.post-header:before   {  
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
}

.post-meta:before  {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 60%;
    text-align:left;
}
.hundred-percent    {   width:100%; }
form#searchform {   margin-top:3.0em;   }
div#content {   padding:0;  }
/*body.single-post header.entry-header {   text-align:center;padding-bottom:100px;height:15em;   }
.featured-img   {    }

.single-featured-image {
	position:relative;
	width: 600px;
    margin:  auto;
	overflow:hidden;
    
}
.single-featured-image h2 {
	position:absolute;
	bottom:0px;
	left:0px;
	padding-left:10px;
	padding: 10px;
	-moz-opacity:.80;
	filter:alpha(opacity=20);
	opacity:.80;
	display: block;
}


.single-post-title  {
    padding:20px;
    height:15em;
    @media #{$retina-phone} { height:5em;   }
}
.single-post-title.right    {
    border-left:5px solid rbga($primary-color-light, 0.3);
}
.entry-meta {   
    @media #{$retina-phone} {  margin-top:auto; }
    //@media #{$tablets} {  font-size:2.4rem; }
    text-align:left;
    //margin-top: 0.7em;
}

.col.s6.single-post-title.post-meta.right {
border: 2px solid $primary-color;
}

.col.s6.single-post-title.post-header {
border-right: 3px solid $primary-color-dark;
}*/

.wp-post-image  {   
    border-top:5px solid $primary-color-dark;
    border-bottom:5px solid $primary-color-dark; 
}

.cutline-image  {
    color:orange;
}

/*body.single-post article {   margin-top:-400px;
    @media #{$retina-phone} {  margin-top:-120px; }
    @media #{$tablets} {  margin-top:-350px; }
}*/

.entry-content   { margin-top: 25px;
       @media #{$retina-phone} {  margin-top:70px; }
    @media #{$tablets} {  margin-top:25px; }
}

.site-main  {
 margin-top:100px;   
}
body.blog .site-main    {
 margin-top:60px;   
}
body.single-post .site-main {
    margin-top:auto;
}
.container  {   max-width:none !important;  }
header  {   clear:both; }

.vertical-image {
	float:right;
	margin-bottom: 1em;
	margin-left: 2%;
	max-width: 33%;
}

span.post-categories, .posted-on, .posted-by, .posted-comments  {
    float:left;
    margin:10px 15px;
    font-size: $t-15px;
}
.posted-comments {
margin-top: 7px;
}

iframe.twitter-tweet    {   margin:auto !important; }

h1.site-title.col.s12 {
margin-left: -30px;
}