/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-size: $t-16px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: $t-15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: $t-15px;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: $t-12-5px;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

div.site-branding   {   
    h1.site-title   {
        font-size:$t-20px;
        line-height:150%;
        @media #{$retina-phone}  {
            font-size:$t-11px;
            line-height:120%;
        }
        @media #{$phones} {
            
        }
    }
}

p#form-allowed-tags {
font-size: $t-13px;
}

.fixedBar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $t-16px;
  font-weight: bold;
}

.floatingFooter {
    font-weight:100;
}

button i    {   font-size:$t-32px;   }

h1.entry-title  {
    font-size: $t-70px;
    line-height:$t-15px;
    margin: 20px 0px 40px;
    @media #{$retina-phone} {  font-size:$t-12px;line-height:130%; }
    //@media #{$tablets} {  font-size:$t-38px; }
}

.single-featured-image h2 {
	font-size: $t-20px;
}

.entry-meta {   
    @media #{$retina-phone} {  font-size:$t-15px;line-height:$t-15px; }
    //@media #{$tablets} {  font-size:$t-38px; }*/
    font-size: $t-20px;
    line-height:$t-20px;
    margin-top: $t-5px;
    .header-meta    {
        p   {   margin-bottom:auto;
        }
        hr  {
            margin-bottom:1em;
        }
        address {
            margin:0 0 1em;
        }
    }
}

address.author.vcard {
margin: 0 0 0.2em;
}
header.entry-header h1.entry-title  {   font-size:$t-60px;line-height:$t-50px;padding:0;margin:0;  }